<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="post">
  	Product ID<br>
  	<input type="text" name="product_id" placeholder="id" required><br><br>
  	Product Name<br>
  	<input type="text" name="product_name" placeholder="name" required><br><br>
    Product Price<br>
  	<input type="text" name="product_price" placeholder="price" required><br><br>
    Product Quantity<br>
  	<input type="text" name="product_quantity" placeholder="quantity" required><br><br>
  	<input type="submit" value="create">
    </form>
</body>
</html>